.body{
  padding: 0px 24px;
}
.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.subtotal{
  color: white;
  position: absolute;
  top: 55px;
  right: 12px;
}
