/* TrackingBar.css */
.tracking-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: blue;
    color: whitesmoke;
    border-radius: 25px;
  }
  
  .status {
    flex: 1;
    text-align: center;
  }
  
  .status.active {
    font-weight: bold;
    background-color: red;
    border-radius: 25px;
  }